[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = {extras = ["srv"], version = "*"}
bson = "*"
nose = "*"
pytz = "*"
python-jose = "*"
passlib = "*"
gunicorn = "*"
flask-pymongo = "*"
jose = "*"
datetime = "*"
uuid = "*"
mongoengine = "*"
cerberus = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.7"
